.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100px;
}

.content {
  grid-row-start: 0;
  grid-row-end: 0;
}

.navBar {
  grid-row-start: 1;
  grid-row-end: 1;
}